<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Student Services student
      </h1>

      <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text"><small>Alpha sprint 4 - Combined system for students scenario 1</small></span>
        </summary>
        <div class="nhsuk-details__text">
          <h2 class="nhsuk-heading-l"></h2>

          <hr>

          <h3 class="nhsuk-heading-m">What we created:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>student user can enter their course details confirming they're on a valid course for funding</li>
            <li>student can create a Gov One Login account</li>
            <li>student can view a dashboard specific to their funding</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we plan to test:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>the assumption that "A single system will reduce errors from students such as, “I applied for the wrong bursary”.</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we found:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="https://nhsbsauk-my.sharepoint.com/:p:/g/personal/hi_niamh_healey_nhsbsa_nhs_uk/EaYJQHKKyiZCpsgX5iZKvbIBm5T6-EnTAWaxiSYU3Q1mug?e=kFjyZZ" target="_blank">Pre-Alpha usability testing August 2025 findings - HEI's, CC's, Processors (Slides, opens in a new tab)</a></li>
          </ul>
          <h3 class="nhsuk-heading-m">Any known issues?</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>The Gov One Login prototype that has been copied across contains the create an account journey up to the stage where an account has been created. But identity proving has not been completed. This would have added a significant amount of prototype that didn’t match the aim of this round.</li>
          </ul>
          <hr>

          <a class="nhsuk-button" href="v1/start-page">Student start page</a>

        </div>
      </details>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
