<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Student Services BSA Internal
      </h1>

      <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text"><small>Alpha sprint 2 & 3 - Combined system for processors scenario 1</small></span>
        </summary>
        <div class="nhsuk-details__text">
          <h2 class="nhsuk-heading-l"></h2>

          <hr>

          <h3 class="nhsuk-heading-m">What we created</h3>
          <p>In total 4 prototype scenarios were available. 2 for processors and 2 for CCS (Contact Centre Staff).</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>(Processor) Start from WFM work item (real example). Go onto a combined system. Find a student, go to their application, making sure they understand that they're in the right funding.</li>
            <li>(Processor) Start at WFM work item (real example). Go onto a combined system. Find a second student, go to their application, making sure they understand that they're now in SB/SWB.</li>
            <li>(CCS) Sign into a combined system and search for an LSF student and find their next payment date and information.</li>
            <li>(CCS) Sign into a combined system and search for an SB student and find their next payment date and information.</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we plan to test</h3>
          <p>The assumptions we are testing are:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Internal users will get confused and make errors if the systems are combined onto one platform</li>
            <li>Internal users will be confused and unsure of what funding they are on and what the rules are if the system is combined</li>
            <li>Users will expect all systems if combined to have the same branding</li>
            <li>A single system will save time & improve ways of working for internal users</li>
          </ul>
          <h3 class="nhsuk-heading-m">What we found:</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="https://nhsbsauk-my.sharepoint.com/:p:/g/personal/hi_niamh_healey_nhsbsa_nhs_uk/EaYJQHKKyiZCpsgX5iZKvbIBm5T6-EnTAWaxiSYU3Q1mug?e=kFjyZZ" target="_blank">Pre-Alpha usability testing August 2025 findings - HEI's, CC's, Processors (Slides, opens in a new tab)</a></li>
          </ul>
          <h3 class="nhsuk-heading-m">Any known issues?</h3>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li></li>
          </ul>
          <hr>

          <a class="nhsuk-button" href="v1/wfm-detailed">Processor LSF & NHS Bursary journey</a>
          <br>
          <a class="nhsuk-button nhsuk-button--secondary" href="v1/sign-in?user=CCS">CCS user journey</a>

        </div>
      </details>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
