{% extends 'layout.html' %}

{% block pageTitle %}
{% endblock %}

{% block content %}
<form action="course-confirmation" method="POST">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">
        Course details
      </span>
      Check your answers
    </h1>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          University
        </dt>
        <dd class="nhsuk-summary-list__value">
          University of Newcastle
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="university">
            Change<span class="nhsuk-u-visually-hidden"> university</span>
          </a>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Course
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['course'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="course">
            Change<span class="nhsuk-u-visually-hidden"> course</span>
          </a>
        </dd>
      </div>
      {% if data['course'] != "Dentistry" and data['course'] != "Medicine and Surgery" and data['course'] != "Dental Surgery" %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Full or part time
        </dt>
        <dd class="nhsuk-summary-list__value">
          Full time
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="full-part-time">
            Change<span class="nhsuk-u-visually-hidden"> full or part time</span>
          </a>
        </dd>
      </div>
      {% endif %}
    </dl>

  	<div class="nhsuk-form-group">
  		<button class="nhsuk-button" type="submit" name="next" onclick="checkSelected()" id="continue">Save and continue</button>
      <p><a href="start-page">Cancel</a></p>
    </div>
  </div>
</div>
</form>
{% endblock %}

{% block scripts %}
<!-- Multi select scripts -->
<script src="/js/autocomplete2.min.js"></script>
<script type="text/javascript">
  // Course
  element = document.querySelector('#course')
  accessibleAutocomplete.enhanceSelectElement({
    showAllValues: true,
    selectElement: element
  })
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const h1 = document.querySelector("h1");
  if (h1) {
    // Make a copy of the H1 so we can remove the <span>
    const h1Clone = h1.cloneNode(true);
    const span = h1Clone.querySelector("span");
    if (span) span.remove();
    document.title = h1Clone.textContent.trim();
  }
});
</script>
{% endblock %}
