{% extends 'layout.html' %}

{% block pageTitle %}
{% endblock %}

{% block content %}
<form action="v1/course" method="POST">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <a class="nhsuk-back-link nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-0" href="javascript:history.go(-1)">Back</a>
    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">
        Course details
      </span>
      <label for="course" id="courseName">Which course are you studying?</label>
    </h1>

    <div style="width: 66%;" class="autocomplete-wrapper nhsuk-form-group" id="course-group">

  		<span class="nhsuk-hint" id="formHint">For example, Adult Nursing</span>

  		<select id="course" class="nhsuk-select" aria-labelledby="courseName" aria-describedby="formHint" name="course.name">
  			<option value="" selected></option>
  			<option id="1" value="Adult Nursing">Adult Nursing</option>
        <option id="2" value="Adult Nursing - Blended">Adult Nursing - Blended</option>
        <option id="3" value="Child Nursing">Child Nursing</option>
        <option id="4" value="Child Nursing - Blended">Child Nursing - Blended</option>
        <option id="12" value="Dental Surgery">Dental Surgery</option>
        <option id="5" value="Dentistry">Dentistry</option>
        <option id="6" value="Medicine and Surgery">Medicine and Surgery</option>
        <option id="7" value="Mental Health Nursing">Mental Health Nursing</option>
        <option id="8" value="Midwifery">Midwifery</option>
        <option id="9" value="Operating Department Practitioner">Operating Department Practitioner</option>
        <option id="10" value="Pharmacy">Pharmacy</option>
        <option id="11" value="Social Work">Social Work</option>
  		</select>
  	</div>

  <p class="nhsuk-body">If you cannot find your course, you can <a href="https://www.nhsbsa.nhs.uk/student-services" target="_blank" rel="noopener" id="contactUsLink">contact us (opens in a new tab).</a></p>

	<div class="nhsuk-form-group">
		<button class="nhsuk-button" type="submit" name="next" onclick="checkSelected()" id="continue">Continue</button>
    <p><a href="start-page">Cancel</a></p>
  </div>

</form>
{% endblock %}

{% block scripts %}
<!-- Multi select scripts -->
<script src="/js/autocomplete2.min.js"></script>
<script type="text/javascript">
  // Course
  element = document.querySelector('#course')
  accessibleAutocomplete.enhanceSelectElement({
    autoselect: false,
    showAllValues: true,
    selectElement: element
  })
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const h1 = document.querySelector("h1");
  if (h1) {
    // Make a copy of the H1 so we can remove the <span>
    const h1Clone = h1.cloneNode(true);
    const span = h1Clone.querySelector("span");
    if (span) span.remove();
    document.title = h1Clone.textContent.trim();
  }
});
</script>
{% endblock %}
