{% extends 'layout.html' %}

{% block pageTitle %}
{% endblock %}

{% block content %}
<form action="govonelogin/create-account" method="POST">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!--<div class="nhsuk-panel">
      <h1 class="nhsuk-panel__title">
        Your course is eligible for NHS Learning Support Fund
      </h1>
      <!--<div class="nhsuk-panel__body">
        You're course is eligible for NHS Learning Support Fund
      </div>
    </div>-->
    {% if data['course'] == "Dentistry" or data['course'] == "Medicine and Surgery" or data['course'] == "Dental Surgery" %}
      <h1 class="nhsuk-heading-l">
        Your course is eligible for the NHS Bursary
      </h1>

      <p>You can <a href="https://www.nhsbsa.nhs.uk/nhs-bursary" target="_blank">find out more about the NHS Bursary (opens in a new tab)</a></p>
    {% else %}
      <h1 class="nhsuk-heading-l">
        Your course is eligible for NHS Learning Support Fund
      </h1>

      <p>You can <a href="https://www.nhsbsa.nhs.uk/nhs-learning-support-fund-lsf" target="_blank">find out more about the NHS Learning Support Fund (opens in a new tab)</a></p>
    {% endif %}

    <h2 class="nhsuk-heading-m">Creating an account</h2>

    <p>You need a GOV.UK One Login to sign in to this service. You can create one if you do not already have one.</p>

  	<div class="nhsuk-form-group">
  		<button class="nhsuk-button" type="submit" name="next" onclick="checkSelected()" id="continue">Start now</button>
    </div>
  </div>
</div>
</form>
{% endblock %}

{% block scripts %}

<script>
document.addEventListener("DOMContentLoaded", function() {
  const h1 = document.querySelector("h1");
  if (h1) {
    // Make a copy of the H1 so we can remove the <span>
    const h1Clone = h1.cloneNode(true);
    const span = h1Clone.querySelector("span");
    if (span) span.remove();
    document.title = h1Clone.textContent.trim();
  }
});
</script>
{% endblock %}
