{% extends 'layout.html' %}

{% block pageTitle %}
{% endblock %}

{% block content %}
<form action="check-course" method="POST">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link nhsuk-u-padding-bottom-3 nhsuk-u-padding-top-0"> <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back</a>
    </div>
    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">
        Course details
      </span>
      Is your course full or part time?
    </h1>

  <div class="nhsuk-form-group">

    <div class="nhsuk-radios">
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="full-time" name="full-part-time" type="radio" value="full time">
        <label class="nhsuk-label nhsuk-radios__label" for="full-time">
            Full time
        </label>
      </div>
        <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="part-time" name="full-part-time" type="radio" value="part time">
        <label class="nhsuk-label nhsuk-radios__label" for="part-time">
            Part time
        </label>
      </div>
    </div>

  </div>

	<div class="nhsuk-form-group">
		<button class="nhsuk-button" type="submit" name="next" onclick="checkSelected()" id="continue">Continue</button>
    <p><a href="start-page">Cancel</a></p>
  </div>

</form>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  const h1 = document.querySelector("h1");
  if (h1) {
    // Make a copy of the H1 so we can remove the <span>
    const h1Clone = h1.cloneNode(true);
    const span = h1Clone.querySelector("span");
    if (span) span.remove();
    document.title = h1Clone.textContent.trim();
  }
});
</script>
{% endblock %}
