{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Sign in to {{ serviceName }}
      </h1>

      <!--<p>NHSBSA Student Services provides funding for eligible healthcare, medical, dental or social work students on behalf of the Department of Health and Social Care.</p>

      <p>The services we administer are the:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>NHS Learning Support Fund</li>
        <li>NHS Bursary</li>
        <li>Social Work Bursary</li>
      </ul>-->

      <p>Use this service to:</p>

      <ul>
        <li>find out what funding you're eligible for</li>
        <li>apply for funding</li>
        <li>check the status of your applications</li>
        <li>check when your payments are due</li>
      </ul>

      <p>You can also manage your personal details and your bank account details. You need to keep these up to date, as wrong information could delay your payments.</p>

      <h2 class="nhsuk-heading-m">Check that your course is eligibile</h2>

      <p>If you're not already getting funding, you can select <b>Create an account</b> to check your course eligibility and create a GOV.UK One Login, if you do not already have one.</p>

      <p>This will take around 10 minutes.</p>

      <p>You can find out more about the types of funding and your eligibility on our <a href="https://www.nhsbsa.nhs.uk/student-services" target="_blank">Student Services website (opens in a new tab)</a>.</p>

      <a href="university?course-details=done" class="nhsuk-button nhsuk-button--secondary">
        Create an account
      </a>
      <br>
      <a href="govonelogin/create-account?course-details=skipped" class="nhsuk-button">
        Sign in
      </a>

      <!--<p>You can <a href="university?course-details=done">create an account</a> if you do not already have one.</p>-->
    </div>

  </div>
{% endblock %}
