{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ serviceName }}
      </h1>

      <p>NHSBSA Student Services provides funding for eligible healthcare, medical, dental or social work students on behalf of the Department of Health and Social Care.</p>

      <p>The services we administer are the:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>NHS Learning Support Fund</li>
        <li>NHS Bursary</li>
        <li>Social Work Bursary</li>
        <!--<li>Education Support Grant</li>-->
      </ul>

      <p>Use this service to:</p>

      <ul>
        <li>find out what funding you're eligible for</li>
        <li>apply for elements of funding</li>
        <li>check the status of your applications</li>
        <li>update your personal details, including your bank account</li>
        <li>check when your payments are due</li>
      </ul>

      <p>You can also manage your personal details on your account. You need to keep these up to date as wrong information could delay your payments.</p>

      <h2 class="nhsuk-heading-m">Before you start</h2>

      <p>Before creating an account you'll need to tell us your university course details to determine which funding is applicable.</p>

      <p>Registering takes around 10 minutes.</p>

      <a href="university" class="nhsuk-button">
        Start now
      </a>

      <p>If you already have an account you can <a href="#">sign in</a>.</p>

      <p>If you have any questions about Student Services, you can <a href="https://www.nhsbsa.nhs.uk/student-services" target="_blank">contact us (opens in a new tab)</a>.</p>

    </div>

  </div>
{% endblock %}
