{% extends 'layout.html' %}

{% block pageTitle %}
{% endblock %}

{% block content %}
<form action="course" method="POST">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <a class="nhsuk-back-link nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-0" href="javascript:history.go(-1)">Back</a>
    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">
        Course details
      </span>
      <label for="college" id="uniName">Which university do you go to?</label>
    </h1>

    <p>Select the university you'll graduate from.</p>

    <div style="width: 66%;" class="autocomplete-wrapper nhsuk-form-group" id="college-group">

		<span class="nhsuk-hint" id="formHint">For example, Teesside University</span>

		<select id="college" class="nhsuk-select" aria-labelledby="uniName" aria-describedby="formHint" name="college.name">
			<option value="" selected></option>
			<option id="1" value="ANGLIA RUSKIN UNIVERSITY">Anglia Ruskin University</option>
      <option id="4" value="Birmingham City University">Birmingham City University</option>
      <option id="5" value="Birmingham Metropolitan College">Birmingham Metropolitan College</option>
      <option id="6" value="Bournemouth University">Bournemouth University</option>
      <option id="7" value="Bpp University Ltd">Bpp University Ltd</option>
      <option id="8" value="Brunel University London">Brunel University London</option>
      <option id="9" value="Bucks New University">Bucks New University</option>
      <option id="10" value="Canterbury Christ Church University">Canterbury Christ Church University</option>
      <option id="11" value="City University London">City University London</option>
      <option id="12" value="Colchester Institute">Colchester Institute</option>
      <option id="13" value="Coventry University">Coventry University</option>
      <option id="14" value="De Montfort University">De Montfort University</option>
      <option id="15" value="Edge Hill University">Edge Hill University</option>
      <option id="16" value="Keele University">Keele University</option>
      <option id="17" value="Kings College London">Kings College London</option>
      <option id="18" value="Kingston University">Kingston University</option>
      <option id="19" value="Leeds Beckett University">Leeds Beckett University</option>
      <option id="20" value="Liverpool John Moores University">Liverpool John Moores University</option>
      <option id="21" value="London Metropolitan University">London Metropolitan University</option>
      <option id="22" value="London South Bank University">London South Bank University</option>
      <option id="23" value="Manchester Metropolitan University">Manchester Metropolitan University</option>
      <option id="24" value="Middlesex University">Middlesex University</option>
      <option id="25" value="New College Durham">New College Durham</option>
      <option id="26" value="Northumbria University">Northumbria University</option>
      <option id="27" value="Oxford Brookes University">Oxford Brookes University</option>
      <option id="28" value="Sheffield Hallam University">Sheffield Hallam University</option>
      <option id="29" value="Solent University">Solent University</option>
      <option id="30" value="St George&#39;s - University of London">St George&#39;s - University of London</option>
      <option id="31" value="Staffordshire University">Staffordshire University</option>
      <option id="71" value="Teesside University">Teesside University</option>
      <option id="32" value="University College London">University College London</option>
      <option id="33" value="University of Bedfordshire">University of Bedfordshire</option>
      <option id="34" value="University of Birmingham">University of Birmingham</option>
      <option id="35" value="University of Bolton">University of Bolton</option>
      <option id="36" value="University of Bradford">University of Bradford</option>
      <option id="37" value="University of Brighton">University of Brighton</option>
      <option id="38" value="University of Bristol">University of Bristol</option>
      <option id="39" value="University of Central Lancashire">University of Central Lancashire</option>
      <option id="40" value="University of Chester">University of Chester</option>
      <option id="41" value="University of Cumbria">University of Cumbria</option>
      <option id="42" value="University of Derby">University of Derby</option>
      <option id="43" value="University of East Anglia">University of East Anglia</option>
      <option id="44" value="University of East London">University of East London</option>
      <option id="45" value="University of Essex">University of Essex</option>
      <option id="46" value="University of Exeter">University of Exeter</option>
      <option id="47" value="University of Gloucestershire">University of Gloucestershire</option>
      <option id="48" value="University of Greenwich">University of Greenwich</option>
      <option id="49" value="University of Hertfordshire">University of Hertfordshire</option>
      <option id="50" value="University of Huddersfield">University of Huddersfield</option>
      <option id="51" value="University of Hull">University of Hull</option>
      <option id="52" value="University of Leeds">University of Leeds</option>
      <option id="53" value="University of Leicester">University of Leicester</option>
      <option id="54" value="University of Lincoln">University of Lincoln</option>
      <option id="55" value="University of Liverpool">University of Liverpool</option>
      <option id="56" value="University of Manchester">University of Manchester</option>
      <option id="57" value="University of Newcastle">University of Newcastle</option>
      <option id="58" value="University of Northampton">University of Northampton</option>
      <option id="59" value="University of Nottingham">University of Nottingham</option>
      <option id="60" value="University of Plymouth">University of Plymouth</option>
      <option id="61" value="University of Portsmouth">University of Portsmouth</option>
      <option id="62" value="University of Reading">University of Reading</option>
      <option id="63" value="University of Roehampton">University of Roehampton</option>
      <option id="64" value="University of Salford">University of Salford</option>
      <option id="65" value="University of Sheffield">University of Sheffield</option>
      <option id="66" value="University of Southampton">University of Southampton</option>
      <option id="67" value="University of St Mark and St John">University of St Mark and St John</option>
      <option id="68" value="University of Suffolk">University of Suffolk</option>
      <option id="69" value="University of Sunderland">University of Sunderland</option>
      <option id="70" value="University of Surrey">University of Surrey</option>
      <option id="72" value="University of the West of England">University of the West of England</option>
      <option id="73" value="University of West London">University of West London</option>
      <option id="74" value="University of Winchester">University of Winchester</option>
      <option id="75" value="University of Wolverhampton">University of Wolverhampton</option>
      <option id="76" value="University of Worcester">University of Worcester</option>
      <option id="77" value="University of York">University of York</option>
      <option id="79" value="York St John University">York St John University</option>
		</select>
	</div>

  <p class="nhsuk-body">If you cannot find your university, you can <a href="https://www.nhsbsa.nhs.uk/student-services" target="_blank" rel="noopener" id="contactUsLink">contact us (opens in a new tab).</a></p>

	<div class="nhsuk-form-group">
		<button class="nhsuk-button" type="submit" name="next" onclick="checkSelected()" id="continue">Continue</button>
    <p><a href="start-page">Cancel</a></p>
  </div>

</form>
{% endblock %}

{% block scripts %}
<!-- Multi select scripts -->
<script src="/js/autocomplete2.min.js"></script>
<script type="text/javascript">
  // Course
  element = document.querySelector('#college')
  accessibleAutocomplete.enhanceSelectElement({
    autoselect: false,
    showAllValues: true,
    selectElement: element
  })
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const h1 = document.querySelector("h1");
  if (h1) {
    // Make a copy of the H1 so we can remove the <span>
    const h1Clone = h1.cloneNode(true);
    const span = h1Clone.querySelector("span");
    if (span) span.remove();
    document.title = h1Clone.textContent.trim();
  }
});
</script>
{% endblock %}
