{% extends 'layout.html' %}

{% block pageTitle %}
{% endblock %}

{% block content %}
<form action="check-eligibility" method="POST">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link nhsuk-u-padding-bottom-3 nhsuk-u-padding-top-0"> <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>Go back</a>
    </div>
    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">
        Course details
      </span>
      What are you doing in the academic year you are applying for?
    </h1>

    <div class="nhsuk-form-group">
      <div class="nhsuk-radios">
				<div class="nhsuk-radios__item">
					<div class="nhsuk-multiple-choice">
						<input type="radio" id="crsYear[0]" value="1" class="nhsuk-radios__input" name="courseYear" />
            <label class="nhsuk-label nhsuk-radios__label" for="crsYear[0]">Year 1</label>
					</div>
				</div>

				<div class="nhsuk-radios__item">
					<div class="nhsuk-multiple-choice">
						<input type="radio" id="crsYear[1]" value="2" class="nhsuk-radios__input" name="courseYear" />
            <label class="nhsuk-label nhsuk-radios__label" for="crsYear[1]">Year 2</label>
					</div>
				</div>

				<div class="nhsuk-radios__item">
					<div class="nhsuk-multiple-choice">
						<input type="radio" id="crsYear[2]" value="3" class="nhsuk-radios__input" name="courseYear" />
            <label class="nhsuk-label nhsuk-radios__label" for="crsYear[2]">Year 3</label>
					</div>
				</div>
  		</div>
    </div>

  	<div class="nhsuk-form-group">
  		<button class="nhsuk-button" type="submit" name="next" onclick="checkSelected()" id="continue">Continue</button>
      <p><a href="start-page">Cancel</a></p>
    </div>
  </div>
</div>
</form>
{% endblock %}

{% block scripts %}
<!-- Multi select scripts -->
<script src="/js/autocomplete2.min.js"></script>
<script type="text/javascript">
  // Course
  element = document.querySelector('#course')
  accessibleAutocomplete.enhanceSelectElement({
    showAllValues: true,
    selectElement: element
  })
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const h1 = document.querySelector("h1");
  if (h1) {
    // Make a copy of the H1 so we can remove the <span>
    const h1Clone = h1.cloneNode(true);
    const span = h1Clone.querySelector("span");
    if (span) span.remove();
    document.title = h1Clone.textContent.trim();
  }
});
</script>
{% endblock %}
