{% extends 'layout-internal.html' %}

{% block pageTitle %}
Student details
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-back-link nhsuk-u-padding-bottom-3 nhsuk-u-padding-top-0"> <a class="nhsuk-back-link__link" href="student-details">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>Back to Student details</a>
    </div>
    <h1 style="float: left;" class="nhsuk-heading-l">
      <span class="nhsuk-caption-l">
        {% if data['student-number'] == "BRN0000789" %}
          Katherine Daley - NHS Bursary
        {% else %}
          Benjamin Thompson - NHS Learning Support Fund
        {% endif %}
      </span>
      September 2025 course details
    </h1>
    {% if data['user'] !== "CCS" %}<a class="nhsuk-button nhsuk-button--secondary" style="float:right;" id="lock-toggle"href="student-details?lock=unlocked">Unlock</a>{% endif %}
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
      <form name="enrolmentDetailsForm" action="/internal/enrolment/details" method="post"><input type="hidden"
          name="_csrf" value="54083b39-6756-4902-9bd5-a9c6c32fe028">

        <div class="nhsuk-card">
          <div class="nhsuk-card__content">

            <div class="nhsuk-form-group" id="enrolled-group">
              <label id="enrolled-label" for="enrolledDrop" class="nhsuk-label">Attendance Status</label>

              <div>

                <p>Matched student - in attendance</p>
              </div>
            </div>
            {% if data['user'] !== "CCS" %}
            <div>
              <input type="hidden" name="student.Id" id="student.Id" value="62"> <input type="hidden" name="Id" id="Id"
                value="95">
              <button class="nhsuk-button right-float" type="submit" id="updateEnrolmentDetails" role="button"
                disabled="disabled">Update</button>
            </div>
            {% endif %}

          </div>
        </div>

      </form>
    </div>

    <div class="nhsuk-grid-column-one-half">
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">Actions</h2>

          <ul>
            <li>

              <span id="uploadEvidence">Upload extra evidence</span>
            </li>
            <li><a href="/internal/viewApplication/summary?enrolmentId=95" id="viewApplication">View
                student's application</a>
            </li>


            <li><a href="view-calculations" id="calculationList">View full year calculations</a></li>

            <li>
              <span id="uploadEvidence">Edit course details</span>
            </li>
            <li>
              <a href="/internal/enrolment/courseHistory?enrolmentId=95&amp;recordNumber=0" id="courseHistory">Course
                details history</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">Student course details</h3>
          <table role="table" class="nhsuk-table-responsive">

            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col" style="width: 20%">University</th>
                <th role="columnheader" class="" scope="col" style="width: 20%">Course</th>
                <th role="columnheader" class="" scope="col" style="width: 20%">Eligibility status</th>
                <th role="columnheader" class="" scope="col" style="width: 20%">Award</th>
                <th role="columnheader" class="" scope="col" style="width: 20%">Num extra weeks</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">University </span>
                  <span id="courseCollegeName">University of Leeds (Medical)</span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Course </span>
                  <span id="enrolmentCourseName">Bachelor of Medicine and Surgery</span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Eligibility status </span>

                  <span id="eligibilityStatusName">Eligible</span>

                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Award </span>

                  <span id="AwardName">Means tested</span>

                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Num extra weeks </span>

                  <span id="NumExtraWeeks">0</span>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-tabs" data-module="nhsuk-tabs">
        <h2 class="nhsuk-tabs__title">
          Contents
        </h2>

        <ul class="nhsuk-tabs__list">

          <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
            <a class="nhsuk-tabs__tab" href="#activities">
              Activities
            </a>
          </li>

          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#payments">
              Payments
            </a>
          </li>

          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#dsa">
              Disabled Students Allowance
            </a>
          </li>

        </ul>

        <div class="nhsuk-tabs__panel" id="activities">

          <details class="nhsuk-details" id="activity0" open="">

            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">112 - Means Tested Bursary Application (Complete)</span>
            </summary>

            <div class="nhsuk-details__text" id="details-content-activities0">


              <p>
                <span class="nhsuk-hint"></span>
                <span class="nhsuk-hint">Date created: 11/08/2022 11:46:21</span>
                <span class="nhsuk-hint">Date last updated: 16 August 2024 16:10:42</span>
                <span class="nhsuk-hint">Last updated by: John Smith</span>
                <span class="nhsuk-hint">Cipher: john.smith@nhs.net</span>
              </p>
              <p>

              </p>
            </div>
          </details>

        </div>

        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="payments">

          <div class="nhsuk-form-group">

            <table id="paymentsTable" class="nhsuk-table-responsive">
              <caption hidden="" class="visually-hidden">Payments table</caption>
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" scope="col">Date of next payment</th>
                  <th role="columnheader" scope="col">Value</th>
                  <th role="columnheader" scope="col">Award element</th>
                  <th role="columnheader" scope="col">Held</th>
                  <th role="columnheader" scope="col">Status</th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell"><span class="visually-hidden"
                      hidden="">2023-11-01</span><span>01/11/2023</span></td>
                  <td role="cell" class="nhsuk-table__cell">£1,650</td>
                  <td role="cell" class="nhsuk-table__cell">Means tested bursary</td>
                  <td role="cell" class="nhsuk-table__cell">No</td>
                  <td role="cell" class="nhsuk-table__cell">Pending</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell"><span class="visually-hidden"
                      hidden="">2023-11-01</span><span>01/11/2025</span></td>
                  <td role="cell" class="nhsuk-table__cell">£330</td>
                  <td role="cell" class="nhsuk-table__cell">Non means tested grant</td>
                  <td role="cell" class="nhsuk-table__cell">No</td>
                  <td role="cell" class="nhsuk-table__cell">Paid</td>
                </tr>
              </tbody>
            </table>
          </div>
          {% if data['user'] !== "CCS" %}<a href="payment-details-unlocked" class="nhsuk-button" id="paymentButton" role="button">Manage
            payments
          </a>{% endif %}

        </div>


        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="dsa">

          <p class="nhsuk-u-font-weight-bold nhsuk-u-text-align-centre" id="noDSA">This student has no
            DSA allowances.</p>

        </div>

      </div>

    </div>
</div>

<style>
  .attendance-summary {
    display: block !important;
  }

  .attendance-summary .nhsuk-summary-list__row {
    display: block !important;
    margin-bottom: 16px; /* Match spacing between rows */
  }

  .attendance-summary .nhsuk-summary-list__key,
  .attendance-summary .nhsuk-summary-list__value {
    display: block !important;
    width: 100% !important;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const lockButton = document.getElementById('lock-toggle');

    lockButton.addEventListener('click', function(event) {
      event.preventDefault();

      if (lockButton.textContent.trim() === 'Unlock') {
        lockButton.textContent = 'Lock';
        lockButton.href = 'student-details?lock=locked';
      } else {
        lockButton.textContent = 'Unlock';
        lockButton.href = 'student-details?lock=unlocked';
      }
    });
  });
</script>

{% endblock %}
